body {text-align:center;margin:0px;padding:0px;color:black}
#main {width:1024px;height:768px;margin:0px auto;background:#84C1FF;}
#main_left {float:left;width:200px;height:768px;}
#main_right {float:right;width:824px;height:768px;}
#logo {width:200px;height:150px}
#menu_sub {width:200px;height:618px}
#info {width:824px;height:40px}
#menu_nav {width:824px;height:40px}
#menu_func {width:824px;height:40px;text-align:left;color:black;font-size:11px}
#menu_func a {color:yellow}
#tips_nav {tex-align:left;font-size:13px;width:824px;height:30px;color:white}
#tips {tex-align:left;font-size:15px;width:824px;height:30px;color:pink}
/*#content {position:absolute;width:824px;height:518px;float:left;overflow:auto}
*/
#content {position:absolute;width:824px;height:400px;float:left;overflow:auto}
#content table {border-collapse:collapse}
#content th {font-size:11px;color:white;boder-width:0px;border-style:solid;border-color:#0080c0;text-align:center;padding:5px}
#content td {font-size:11px;color:black;boder-width:0px;border-style:solid;border-color:#0080c0;text-align:left;padding:5px}
#content td a {font-size:10px;color:yellow}
#main_login {position:absolute;width:400px;height:300x;margin-left:-200px;margin-top:-150px;left:50%;top:50%;}
#table_login table,td,tr,form {text-align:right;color:white}
#menu_nav ul li {float:left;padding:5px;list-style-type:none}
#menu_nav ul li a {text-decoration:none;color:white}
#menu_nav ul li a:hover {text-decoration:none;color:white}
#menu_nav ul li a:visited {text-decoration:none;color:white}
#menu_sub ul li {text-align:left;display:block;padding:5px}
#menu_sub a {color:yellow}
#content_func a {font-size:12px;padding:1px;color:yellow}
#page_bar {position:absolute;width:824px;height:100px;bottom:0;text-align:left;color:black;font-size:11px}

.clear {clear:both}
/*
#content_func a:link {color:yellow}
*/
/*
#main_login div {position:absolute;width:400px;height:300x;margin-left:-500px;margin-top:-400px;left:50%;top:50%;margin:0 auto;}
#table_login table,td,tr,form,div {clear:both;position:absolute;width:400px;height:300px;text-align:right;margin-left:-500px;margin-top:-400px;left:50%;top:50%;}

#container {width:1024px;height:768px;margin:0px auto;background:#84C1FF;}
#login div {width:400px;height:300px;}
#login table,td,tr,form {text-align:left;margin:auto;margin-top:50px;color:white;}
#infobar {float:left;width:1024px;height:30px;background:#84C1FF;margin-top:10px;}
#infobar .lft {float:left;text-align:left;width:324px;height:20px;}
#infobar .rt {float:right;text-align:right;width:200px;height:20px;}
.content {width:600px;height:10px;text-align:left;color:black;padding-top:10px;padding-bottom:10px;}
#main {float:left;width:1024px;height:800px;}
#main .lft {float:left;text-align:left;width:150px;height:800px;}
#main .lft ul li {text-align:left;display:block;padding:5px}
#main .lft a {color:white;}
#main .rt {float:left;text-align:left;width:800px;height:800px;}
#main .rt td {white-space:normal;}
#main .mdfpwd {width:400px;height:300px;}
*/
/*#main .cntnt {width:800px;height:600px;overflow:auto;white-space:normal}*/
/*
#main .cntnt {width:800px;height:565px;overflow:auto;white-space:normal}
#main table {
        font-family: verdana,arial,sans-serif;
        font-size:11px;
        color:black;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
}
#main table th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        color:black;
}
border-style: solid;border-color: #666666
#main table td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        color:black;
}
#main a {color:blue;}
.pagebar {float:left;text-align:left;width:500px;height:20px;color:black;font-size:11px;}
*/
